@model Dental_Care.Models.Ordonance

@{
    ViewBag.Title = "Modification";
}

<!-- Intro Section -->
<section class="inner-intro bg-img overlay-bg-color light-color parallax parallax-background">
    <div class="container">
        <div class="row title">
            <h1 class="h2">@ViewBag.Title</h1>
            <div class="page-breadcrumb"> <a href="@Url.Action("Index", "Home")">Acceuil</a>/<a>Ordonance</a>/<span>@ViewBag.Title</span> </div>
        </div>
    </div>
</section>

<!-- End Intro Section -->
<div class="container contact-form ptb-80">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            @Html.Partial("~/Views/Shared/_ErrorSuccessMsg.cshtml")
        </div>
        <div class="col-sm-12">
            <h4>Ordonance</h4>
            <p>@Model.Ref</p>
            <!-- Contact FORM -->
            <form class="contact-form mt-45" id="contact" action="@Url.Action("Edit")" method="post">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-field">
                            <input class="input-sm form-full datepicker" type="text" name="@Html.NameFor(model => model.Date)" value="@Html.DisplayFor(model => model.Date)" placeholder="@Html.DisplayNameFor(model => model.Date)" id="date">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                        </div>
                        <div class="form-field">
                            <textarea class="form-full" id="message" rows="7" name="@Html.NameFor(model => model.Contenu)" placeholder="@Html.DisplayNameFor(model => model.Contenu)">@Model.Contenu</textarea>
                        </div>
                    </div>
                    <div class="col-sm-12 mt-30">
                        <button class="btn btn-md btn-color-line" type="submit" id="submit">Modifier</button>
                    </div>
                </div>
            </form>
            <!-- END Contact FORM -->
        </div>
    </div>
</div>